header#header.header
    .header__left
        a(href='index.html').header__comp-logo
            img(src="/static/images/icons/logo.png")
        .header__left-sign
            p Live
            p Events
    .header__right
        a(href='index.html').header__comp-logo
            img(src="/static/images/icons/logo-ivrit.png")
        .header__right-sign 
            p חיים
            p שידורים
